<div class="container mt-5">
    <hr>
    <div class="row">
        <h2>Our pets</h2>
        <br>
        {{#each pets}}


        <div class="card deck " style="width: 18rem;">
            <img src="{{image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <h5>{{status}}</h5>
                <div class="card-body">
                    <a href="/pets/{{id}}/profile" class="btn btn-dark">More information</a>
                </div>

        </div>
        {{/each}}
        {{#if isShelter}}
        <a href="/pets/create" class="btn btn-dark">Add new pet</a>
        {{/if}}
        <a href="/" class="btn btn-dark mt-2">Home</a>