<div class="container mt-5">
    <hr>
    <h2>Our pets</h2>
    <br>
    <div class="row">
        {{#each pets}}
        <div class="col-md-3 col-sm-6">
            <div id="petImage" class="card card-block">
                <img id="petImage" src="{{image}}" alt="Pet-image">
                <h5 class="card-title text-center mt-3 mb-3">{{name}}</h5>
                <p class="card-text text-center">{{status}}
                </p>
                <a href="/pets/{{id}}/profile" class="btn btn-outline-dark text-center">More information</a>
            </div>
        </div>
        {{/each}}
        {{#if isShelter}}
        <a href="/pets/create" class="btn btn-outline-dark">Add new pet</a>
        {{/if}}

    </div>

</div>