<div class="container mt-5">
    <hr>
    <div class="row">
        <h2>Our pets</h2>
        <br>
        {{#each pet}}
        <div class="col-md-4 mb-3 ">
            <div>
                <img src={{petImage}} class="card-img-top mt-5">
                <h5 class="card-title mt-2"> Name: {{name}} </h5>
                <h5 class="card-title mt-2"> Status: {{status}} </h5>


                <a href="/pets/{{id}}/profile" class="btn btn-warning">More information</a>

            </div>
        </div>


        {{/each}}

        </row>
        <a href="/" class="btn btn-dark mt-2">Home</a>
    </div>