#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: .85;
    
}

#myMap {
    height: 350px;
    border-bottom: 2px;
    border-radius: 10px;

} 

#cardIndex{
    background-color: transparent;
    border-color: #856d7a;
    box-shadow: 40px;
    border-radius: 15px;
    font-weight: bold;
    color: white;
    font-size: 100%;

    
    

}
body {
     background-image: url("../images/descarga.jpeg");
     background-repeat: no-repeat;
     background-size: cover;
}
#navbar{
    background-color: #856d7a;
    color:white;
    font-weight: bold;
}

.table{
    background-color: transparent !important;
    color: rgb(80, 75, 69);
    font-weight: bold;
    font-size: 15px;
  
}
#tableEvent{
    background-color: #856d7a;
    color: antiquewhite;
    font-weight: bold;
    text-align: center;
   
}

#comments{
border-color: #7e6a74;
font-weight: bold;
font-size: 18px;

}

