<div class="container mt-5">
    <hr>
    <h2>Our pets</h2>
    <br>
    <div class="row">
        {{#each users}}
        <div class="col-md-3 col-sm-6">
            <div class="card card-block mt-5">
                <img id="imageShelter" src="{{image}}" alt="Pet-image">
                <h5 class="card-title text-center mt-3 mb-3">{{username}}</h5>

                <a href="/user/{{id}}/profile" class="btn btn-outline-dark">More information</a>
            </div>
        </div>
        {{/each}}
        {{#if isShelter}}
        <a href="/pets/create" class="btn btn-outline-light">Add new pet</a>
        {{/if}}

    </div>

</div>

</div>